---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { getLocale, localeMeta, type Locale } from '../i18n';

import '../styles/reset.css';
import '@unocss/reset/normalize.css';
import '../styles/webfonts.css'

interface Props {
	title?: string;
	description?: string;
	locale?: Locale;
	alternateUrls?: { locale: string; href: string }[];
}

const { title, description, locale = getLocale(Astro.params.locale), alternateUrls } = Astro.props;
---

<!doctype html>
<html lang={localeMeta[locale].htmlLang}>
	<head>
		<BaseHead title={title} description={description} alternateUrls={alternateUrls} />
	</head>
	<body class="flex flex-col font-serif line-height-normal">
		<Header locale={locale} alternateUrls={alternateUrls} />
		<main class="flex-1 px-4">
			<slot />
		</main>
		<Footer />
	</body>
</html>
